@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "SF Pro Display", "Segoe UI", sans-serif;
}

body {
  background: #eef4f4;
}
